*{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
  
  } 

  .calendar-wraper {
    width: 700px;
  }
  
  
  ::ng-deep.example-custom-date-class::after {
    counter-increment: section; 
    content:attr(aria-label);
    border-radius: .25rem;
    background: #ff4081;
    color: white !important;
      height: 1rem;
      line-height:1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    margin:0.05rem;
  
    display:block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  }
  
  ::ng-deep.example-custom-date-class:hover::after {
    content: attr(aria-label);
    position: absolute;
    left: 0;
    top: 24px;
    min-width: 100px;
    max-width: 200px;
    border-radius: 10px;
    padding: 12px;
    background: #ff4081;
    color: white !important;
    font-size: 14px;
    z-index: 1;
  }
  
  
  ::ng-deep.todays_class::after {
    counter-increment: section; 
    content: attr(aria-label);
    border-radius: .25rem;
    background: #1e88e5;
    color: white !important;
      height: 1rem;
      line-height:1rem;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    margin:0.05rem;
    display:block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  }
  
  ::ng-deep.todays_class:hover::after {
    content: attr(aria-label);
    position: absolute;
    min-width: 100px;
    max-width: 200px;
    border-radius: 10px;
    padding: 12px;
    background: #1e88e5;
    color: white !important;
    font-size: 14px;
    z-index: 1;
  }
  
  ::ng-deep.normal>.mat-calendar-body-cell-content,
  ::ng-deep.example-custom-date-class>.mat-calendar-body-cell-content,::ng-deep.todays_class>.mat-calendar-body-cell-content
  
  {
  border: none !important;
  }
  
  
  
  