<div class="calendar-wraper">
  <mat-calendar
  #myCalendar
  periodButtonDescription="aaa"
  periodButtonLabel="bbb"
  periodButtonText="ccc"

  [dateClass]="dateClass"
  (selectedChange)="dateClickHandler($event)"
  (monthSelected)="handleMonthSelected($event)"


  
  ></mat-calendar>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>