.list__header, .list__event{
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 1fr 3fr 1fr 100px 60px;
    gap: 10px;
    padding: 2px 6px;
    margin: 0 5px;
}

.icon {
    font-size: larger;
}

.list {
    &__event {
        border-radius: 10px;
        margin: 5px;
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.italic-font {
    font-style: italic;
}